
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-container img {
  max-width: 90%;
  max-height: 90%;
}